body{
    background-image: url("/image/template-bg/bg-register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Lemon;
    color: var(--color-pertama);
}